<div class="splash-main">
  <h1>Budget Tracker</h1>
  <%= link_to "LOG IN",   new_user_session_path, class: "login-text" %>
  <%= link_to "SIGN UP", new_user_registration_path, class: "sign-up-text" %>
</div>